
<div class="container">
 
  <div class="grid">
    <div>
      <h2><strong>Total Pages: {{totalPages}}</strong></h2>
    </div>
    <div>
      <h2><strong>Now: {{page}}</strong></h2>
    </div>
    <div>
      <a href="{{prevPage}}"  {{#unless hasPrevPage}} disabled {{/unless}}  role="button" >Prev </a>
      <a href="{{nextPage}}" {{#unless hasNextPage}} disabled {{/unless}}   role="button" >Next </a>
    </div>
  </div>
 
  {{#each payload}}
    <article>
 
      <form  id="formProduct">
        <label hidden for="idProduct">
          <input id="idProduct" value="{{this._id}}" type="text">
        </label>
        <label for="title">
          <strong>Title</strong>
          <input disabled id="title" name="title" value="{{this.title}}">
        </label>
 
        <label for="code">
          <strong>Code</strong>
          <input disabled id="code" name="code" value="{{this.code}}">
        </label>
 
        <label for="category">
          <strong>Category</strong>
          <input disabled id="category" name="category" value="{{this.category}}">
        </label>
 
        <label for="description">
          <strong>Description</strong>
          <textarea disabled  name="description" id="description"> {{ this.description }} </textarea>
        </label>
 
        <label for="stock">
          <strong>Stock</strong>
          <input disabled id="stock" name="stock" value="{{this.stock}}">
        </label>
 
        <label for="price">
          <strong>Price</strong>
          <input disabled id="price" name="price" value="{{this.price}}">
        </label>
 
        <label for="quantity">
          <strong>Quantity</strong>
          <input id="quantity" name="quantity"  type="number" max="{{this.stock}}">
        </label>
 
        <button value=> Add to cart </button>
      </form>
     
    </article>
  {{/each}}
 
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/products.js"></script>
 